@media only screen and (min-width: 1025px) {
    .desktop-hidden {
        display: none !important;
    }
}

@media only screen and (max-width: 1024px) {
    #app {
        overflow: hidden;
    }

    .mx-w {
        max-width: none !important;
    }

    h1 {
        font-weight: normal;
        font-size: 32px;
        line-height: 111.1%;
        text-align: center;
    }

    h2 {
        font-weight: normal;
        font-size: 25px;
        line-height: 91px;
    }

    h3 {
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
    }

    h4 {
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
    }

    .burger-mask {
        display: none;
        position: fixed;
        top: 89px;
        left: 0;
        transition: .5s;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
    }

    .burger-menu {
        width: 100%;
        max-height: 50%;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 89px;
        transition: .5s;
        color: #fff;
    }

    .burger-menu__content {
        margin: 0 8px;
        height: 100%;
        padding: 41px 0;
        flex-direction: column;
        color: inherit;
    }

    .burger-menu__item {
        padding: 0 14px;
        color: inherit;
    }

    .burger-menu__item a {
        color: inherit;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 133.4%;
    }

    .burger-menu__item:not(:nth-of-type(1)) {
        margin-top: 20px;
    }

    .burger-menu__item:nth-of-type(2) a {
        text-decoration: none;
        line-height: 160%
    }

    .burger-menu__item p {
        color: #EEEEEE;
        font-family: SF UI Display, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        margin-top: 0;
    }


    .mobile-hidden {
        display: none !important;
    }

    .header {
        height: 624px;
        padding: 15px 24px;
    }

    .header__top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0 24px;
        z-index: 11;
        background: rgba(0, 0, 0, 0.5);
        transition: .5s;
    }

    .header__logo svg {
        width: 135px;
    }

    .header__burger {
        text-align: right;
        width: 24px;
        height: 24px;
        position: relative;
        color: #ffffff;
    }

    .header__burger.header-burger__cross span:nth-of-type(1) {
        position: absolute;
        top: 7px;
        width: 24px;
        transform: rotate(45deg);
    }

    .header__burger.header-burger__cross span:nth-of-type(2) {
        transform: rotate(-45deg);
        position: absolute;
        top: 3px;
        right: 2px;
        width: 12px;
    }

    .header__burger.header-burger__cross span:nth-of-type(3) {
        transform: rotate(-45deg);
        width: 12px;
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

    .header__burger span {
        position: absolute;
        transition: .5s;
        height: 1.5px;
        display: block;
        content: '';
        border: 0;
        background-color: #EEEEEE;
        margin-bottom: 6.5px;
    }

    .header__burger span:nth-of-type(1) {
        top: 0;
        width: 19px;
    }

    .header__burger span:nth-of-type(2) {
        width: 11px;
        top: 8px;
        right: 0;
    }

    .header__burger span:nth-of-type(3) {
        width: 13px;
        bottom: 0;
        right: 5px;
    }

    .header__middle p {
        font-weight: bold;
        font-size: 16px;
        line-height: 133.4%;
        /* or 21px */
        text-align: center;
        color: #FFFFFF;
    }

    .about {
        padding: 0 24px 63px;
    }

    .about__content {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .about__img {
        margin-right: 0;
    }

    .about__img img:nth-of-type(1) {
        width: 100%;
    }

    .about__img img:nth-of-type(2) {
        transform: scale(-1, 1);
        left: -72px;
        top: -103px;
    }

    .about__description p {
        font-weight: 500;
        font-size: 14px;
        line-height: 137.1%;
    }

    .products {
        padding-right: 24px;
        padding-left: 24px;
    }

    .products__content {
        align-items: center;
    }

    .products__item {
        flex-direction: column;
        margin-bottom: 96px;
    }

    .products__item .products__img {
        order: 0 !important;
    }

    .products__item .products__img img:nth-of-type(1) {
        width: 100%;
        margin-top: 11px;
    }

    .products__item p, .products__item li {
        font-weight: normal;
        font-size: 14px;
        line-height: 135.1%;
    }

    .products__item button {
        width: 100%;
    }

    .products__item:nth-of-type(1) .products__img img:nth-of-type(2) {
        right: -10px;
        width: 85px;
        top: 70px;
    }

    .products__item:nth-of-type(2) .products__img img:nth-of-type(2) {
        left: -15px;
        bottom: -9px;
        width: 90px;
    }

    .products__item:nth-of-type(3) .products__img img:nth-of-type(2) {
        width: 75px;
        right: -22px;
        bottom: -13px;
    }

    .products__item:nth-of-type(4) .products__img img:nth-of-type(2) {
        width: 115px;
        right: -42px;
        bottom: -19px;
        left: auto;
        transform: rotate(-12.49deg);
        top: auto;
    }

    .products__offer {
        width: 100%;
    }

    .products__item:nth-of-type(5) .products__img img:nth-of-type(2) {
        width: 94px;
        right: -28px;
        top: 45px;
        transform: rotate(-100deg);
    }

    .products__price {
        font-weight: 600;
        font-size: 14px;
        line-height: 168.1%;
        align-self: flex-start;
    }

    .products__price span {
        color: #E76AA4;
    }

    .products__end {
        top: -86px;
        left: 37%;
        width: 100px;
    }

    .principles {
        padding: 20px 0;
    }

    .principles p {
        font-weight: 500;
        font-size: 14px;
        line-height: 135.1%;
    }

    .principles h2 {
        position: relative;
    }

    .principles__content {
        flex-direction: column;
        padding: 0 24px;
        margin-top: 30px;
    }

    .principles__item {
        margin-bottom: 104px;
    }

    .consultation {
        padding: 80px 24px;
    }

    .consultation p {
        font-weight: normal;
        font-size: 16px;
        line-height: 134.9%;
    }

    .consultation ol {
        padding-left: 22px;
    }

    .consultation__last input {
        margin-left: 0;
    }

    .consultation button {
        width: 100%;
        margin-left: 0;
    }

    .contacts {
        padding-top: 43px;
    }

    .contacts h2 {
        line-height: 1;
    }

    .contacts__content {
        flex-direction: column;
        padding: 0 24px;
    }

    .contacts__description p {
        font-weight: 500;
        font-size: 14px;
        line-height: 133.1%;
        margin-top: 10px;
        margin-bottom: 39px;
    }

    .contacts__form {
        width: 100%;
    }

    .contacts__form button {
        width: 100%;
    }

    .footer {
        padding-bottom: 26px;
        background: #F4EAE8;
        height: auto;
        padding-left: 24px;
        padding-right: 24px;
    }

    .footer__content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__created {
        margin-top: 108px;
    }

    .footer__content p:nth-of-type(1) {
        margin-bottom: 0;
    }

    .footer__content p:nth-of-type(2) {
        margin-top: 6px;
        margin-bottom: 24px;
    }

    .footer__social a {
        margin-right: 26px;
    }

    .send-modal__window {
        width: 90%;
        padding: 0 25px;
    }

    .send-modal__window input {
        width: 100% !important;
    }

    .send-modal__window h3 {
        font-size: 22px;
        line-height: 91px;
    }

}