@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf") format("opentype");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url("../fonts/Montserrat-Bold.ttf") format("opentype");
}

@font-face {
    font-family: Sangha Kali;
    font-weight: normal;
    src: url("../fonts/SANGHAKALI-REGULAR.otf") format("opentype");
}

@font-face {
    font-family: Prata;
    font-weight: normal;
    src: url("../fonts/Prata-Regular.ttf") format("opentype");
}