*,
*:before,
*:after {
    box-sizing: border-box;
    color: #B8B8B8;
    font-family: "Source Sans Pro", sans-serif
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-y: scroll
}

img {
    pointer-events: none;
    object-fit: cover;
}

h1  {
    font-family: Sangha Kali, sans-serif;
    font-weight: normal;
    font-size: 69px;
    line-height: 69px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F9F4F2;
}

h2 {
    font-family: Prata, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 91px;
    /* or 182% */
    text-align: center;
    letter-spacing: 0.01em;
    color: #353030;
}

h3 {

}

h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #353030;
    margin: 23px 0;
}

p {
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

.mx-w {
    max-width: 1058px;
    margin: 0 auto;
}

.header {
    background: url('../img/header/header-background.png') 50% no-repeat;
    background-size: cover;
    padding-top: 36px;
    padding-bottom: 61px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav a {
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    /* identical to box height, or 18px */
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    margin-right: 50px;
}

.header__contacts {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
} .header__contacts img {
    position: absolute;
    right: -10px;
    top: -13px;
    opacity: 0.7;
}

.header__middle {
    margin-top: 148px;
}.header__middle p {
     font-weight: bold;
     font-size: 16px;
     line-height: 133.4%;
     /* or 21px */
     color: #F9F4F2;
}

.header__bottom {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__social a {
    margin-left: 33px;
}


.main {
    background: #F9F4F2;
}

.about {
    padding: 120px 0;
}

.about__content {
    display: flex;
    align-items: center;
}

.about__img {
    margin-right: 80px;
    position: relative;
}.about__img img:nth-of-type(2) {
    position: absolute;
    left: -131px;
    top: -85px;
 }

.about__description p {
    font-weight: 500;
    font-size: 16px;
    line-height: 138.1%;
    /* or 22px */
    color: #353030;
}

.principles {
    background: #F4EAE8;
    padding: 87px 0;
}

.principles__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 77px;
}

.principles__content img {
    height: 73px;
}

.principles__content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 145.1%;
    color: #353030;
}


.footer {
    width: 100%;
    background: #F9F4F2;
    height: 140px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
} .footer__content > p,
  .footer__content a {
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
      /* identical to box height, or 26px */
      letter-spacing: 0.01em;
      color: #323232;
  }

.footer__social a {
    margin-right: 36px;
}