*,
*:before,
*:after {
    box-sizing: border-box;
    color: #B8B8B8;
    font-family: "Source Sans Pro", sans-serif
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-y: scroll
}

img {
    pointer-events: none;
    object-fit: cover;
}

h1  {
    font-family: Sangha Kali, sans-serif;
    font-weight: normal;
    font-size: 69px;
    line-height: 69px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F9F4F2;
}

h2 {
    font-family: Prata, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 91px;
    /* or 182% */
    text-align: center;
    letter-spacing: 0.01em;
    color: #353030;
}

h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #323232;
    font-family: Montserrat, sans-serif;
}

h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #353030;
    margin: 23px 0;
}

p {
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
}

button {
    width: 283px;
    height: 46px;
    background: linear-gradient(200.65deg, #FDC27B -30.04%, #EB7EBF 94.99%);
    border: none;
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-family: Montserrat, 'sans-serif';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 40px;
}

.mx-w {
    max-width: 1058px;
    margin: 0 auto;
}

.header {
    background: url('../img/header/header-background.png') 50% no-repeat;
    background-size: cover;
    padding-top: 36px;
    padding-bottom: 61px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav a {
    font-weight: 600;
    font-size: 16px;
    line-height: 110%;
    /* identical to box height, or 18px */
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    margin-right: 50px;
}

.header__contacts {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 110%;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
} .header__contacts img {
    position: absolute;
    right: -10px;
    top: -13px;
    opacity: 0.7;
}

.header__middle {
    margin-top: 148px;
}.header__middle p {
     font-weight: bold;
     font-size: 16px;
     line-height: 133.4%;
     /* or 21px */
     color: #F9F4F2;
}

.header__bottom {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__social a {
    margin-left: 33px;
}


.main {
    background: #F9F4F2;
    overflow: hidden
}

.about {
    padding: 120px 0;
}

.about__content {
    display: flex;
    align-items: center;
}

.about__img {
    margin-right: 80px;
    position: relative;
}.about__img img:nth-of-type(2) {
    position: absolute;
    left: -131px;
    top: -85px;
 }

.about__description p {
    font-weight: 500;
    font-size: 16px;
    line-height: 138.1%;
    /* or 22px */
    color: #353030;
}

.products__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

.products__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 200px;
} .products__item p,
  .products__item li {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 121.1%;
      color: #323232;
  }
  .products__item li {
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 15px;
  }
  .products__item ul {
      padding-left: 0;
      margin-top: 17px;
  }
  .products__item li img {
      margin-right: 8px;
  }

.products__img {
    position: relative;
}

.products__item:nth-of-type(odd) .products__img {
    order: 2;
}

.products__item:nth-of-type(odd) .products__offer {
    order: 1;
}

.products__item:nth-of-type(1) .products__img img:nth-of-type(2) {
    position: absolute;
    right: -53px;
    top: -34px;
}

.products__item:nth-of-type(2) .products__img img:nth-of-type(2) {
    position: absolute;
    left: -90px;
    bottom: -26px;
}

.products__item:nth-of-type(2) .products__img {
    margin-top: 40px;
}

.products__item:nth-of-type(3) .products__offer {
    margin-top: 20px;
}

.products__item:nth-of-type(3) .products__img img:nth-of-type(2) {
    position: absolute;
    right: -75px;
    bottom: -40px;
}

.products__item:nth-of-type(4) .products__img img:nth-of-type(2) {
    position: absolute;
    left: -158px;
    top: -150px;
}

.products__item:nth-of-type(5) {
    margin-bottom: 80px;
}

.products__item:nth-of-type(5) .products__offer {
    margin-top: 50px;
}

.products__item:nth-of-type(5) .products__img img:nth-of-type(2) {
    position: absolute;
    right: -180px;
    top: -30px;
}

.products__price {
    margin-bottom:  140px;
    font-weight: 600;
    font-size: 16px;
    line-height: 169.1%;
    /* or 27px */
    color: #353030;
}

.products__price span {
    color: inherit;
}

.products__end {
    position: absolute;
    bottom: -142px;
    left: 416px;
}




.principles {
    background: #F4EAE8;
    padding: 87px 0;
}

.principles__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 77px;
}

.principles__content img {
    height: 73px;
}

.principles__content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 145.1%;
    color: #353030;
}


.consultation {
    padding-top: 100px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
} .consultation img {
    position: absolute;
    top: 180px;
  }
  .consultation img:nth-of-type(1) {
      left: 0
  }
  .consultation img:nth-of-type(2) {
      right: 0
  }
  .consultation h2 {
      margin-bottom: 0;
  }
  .consultation p {
      margin-top: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 159.9%;
      /* identical to box height, or 26px */
      text-align: center;
      color: #353030;
      margin-bottom: 54px;
  }
  .consultation li {
      font-family: Montserrat, sans-serif;
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 153.18%;
      color: #353030;
  }
  .consultation input {
      background: transparent;
      border: none;
      border-bottom: 1px solid #353030;
      padding: 7px 25px;
      outline: none;
      font-family: Montserrat, sans-serif;
      width: 110%;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 153.18%;
      color: #353030;
      margin-left: -22px;
      margin-bottom: 32px;
  }
  .consultation form {
      max-width: 580px;
      overflow: hidden;
  }
  .consultation li:nth-of-type(10),
  .consultation li:nth-of-type(11) {
      margin-left: 10px;
  }
  .consultation li:nth-of-type(10) input,
  .consultation li:nth-of-type(11) input {
      margin-left: -32px;
      padding: 7px 35px;
  }
  .consultation ol {
      margin-bottom: 0;
  }
  .consultation button {
      margin-left: 15px;
  }

.consultation__last input {
    margin-left: 15px;
    padding-left: 7px;
}


.contacts {
    background: #F4EAE8;
    padding: 104px 0;
}

.contacts__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contacts__description {
    display: flex;
    flex-direction: column;
}

.contacts__description > p {
    color: #323232;
    font-weight: normal;
    font-size: 20px;
    line-height: 133.1%;
    margin-bottom: 47px;
}

.contacts__links {
    margin-top: 20px;
}

.contacts__links a {
    margin-right: 26px;
}

.contacts__description > span {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */
    letter-spacing: 0.01em;
    color: #323232;
    margin-bottom: 5px;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    width: 408px;
}

.contacts__form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #353030;
    font-family: Montserrat, sans-serif;
    width: 100%;
    font-style: normal;
    outline: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 153.18%;
    color: #353030;
    margin-bottom: 32px;
    padding: 7px 0;
}



.footer {
    width: 100%;
    background: #F9F4F2;
    height: 140px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
} .footer__content > p,
  .footer__content a {
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
      /* identical to box height, or 26px */
      letter-spacing: 0.01em;
      color: #323232;
  }

.footer__social a {
    margin-right: 36px;
}